<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
</head>
<body class="error">

  <h1><%= title %></h1>

  <div class="break">
    <%- message %>
  </div>

  <p>Guess it's time to take a break from the internet...</p>
</body>
</html>
